@using Danik.WebUI.Code.Domain
@model Danik.WebUI.Code.Domain.Order
@{
    ViewData["Title"] = "Home page";
    int i = 0;
}
<style>
    
    </style>


@using (Html.BeginForm("Step5", "Wiz", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Детали заказа</h4>
    <div class="row">
    <div class="mt-2 col-xxl-3 col-lg-4 col-sm-6">
        <input type="hidden" name="orderId" class="form-control" value="@Model.Id"/>
        <h5>Свои примеры</h5>
        <div>Загрузите ваши фотографии или фото из сети с примерами которые вам нравятся.</div>
        <div><input type="file" name="example" multiple class="form-control"/></div>

        <h5 class="mt-3">Контактная информация</h5>
        <div class="mt-1">Ваше имя<input type="text" required class="form-control" name="data.ContactName" value="@Model.ContactName" /></div>
        <div class="mt-1">Телефон<input type="text" required class="form-control" name="data.Phone" value="@Model.Phone" /></div>
        <div class="mt-1">Электропочта<input type="text" class="form-control" name="data.Email" value="@Model.Email" /></div>
        
        <div class="mt-2">
                <h5>Комментарий к заказу</h5>
            <textarea type="text" class="form-control" style="height: 6rem" name="data.Comment">@Model.Comment</textarea>
        </div>

        <div class="mt-4">
            <a class="btn btn-primary" href="/Wiz/Step3/?orderid=@Model.Id">Назад</a>
            <input type="submit" class="btn btn-primary" value="Дальше"/>
        </div>
    </div>
    </div>
    
}
@section Scripts
{
    <script>

    </script>
}
